# ignore eclipse related files and directories
.classpath
.project
.settings
bin

# ignore intellij related files and directories
.idea
*.iml

# ignore netbeans related files and directories
/nbproject/
nb-configuration.xml

# ignore maven related files and directories
target
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# ignore gradle related files and directories
build
.gradle

# ignore Mac OSX related files and directories
.DS_Store
.aider*
